

/* 칼럼박스 심플 01 (all) */

.col_s_01 { row-gap:56px; }
.col_s_01.col_2 { --colw:47%; --coln:2; }
.col_s_01.col_3 { --colw:30%; --coln:3; }
.col_s_01.col_4 { --colw:22%; --coln:4; }
.col_s_01 > li { width:var(--colw); }
.col_s_01 > li h4 { font-size:25px; }
.col_s_01 > li .tit_line { padding:15px 0 21px; border-color:#333; }
.col_s_01 > li .tit_line:before { width:26px; border-top:2px solid; border-color:inherit; }
#body .in_e.b_d > .col_s_01 > li .tit_line { border-color:#fff; }

@media (max-width:1660px) {
	.col_s_01 { row-gap:calc(23px + 2vw); }
	.col_s_01 > li .tit_line:before { width:calc(16px + 0.6vw); }
}
@media (max-width:1200px) {
	.col_s_01.col_4:not(.cnt_4) { --colw:30%; --coln:3; }
}
@media (max-width:940px) {
	.col_s_01.cnt_4 { --colw:47%; --coln:2; }
}
@media screen and (max-width:767px) {
	#body .col_s_01 { --colw:47%; --coln:2; }
}
@media screen and (max-width:500px) {
	#body .col_s_01 { --colw:100%; }
}



/* 칼럼박스 심플 02 (all) */

.col_s_02 { row-gap:56px; }
.col_s_02.col_2 { --colw:47%; --coln:2; }
.col_s_02.col_3 { --colw:30%; --coln:3; }
.col_s_02.col_4 { --colw:22%; --coln:4; }
.col_s_02 > li { width:var(--colw); }
.col_s_02 > li .stit { font-size:13px; line-height:1.3; font-family:var(--roboto); color:var(--mc); }
.col_s_02 > li h4 { font-size:25px; }
.col_s_02 > li .tit_line { padding:15px 0 21px; }

@media (max-width:1660px) {
	.col_s_02 { row-gap:calc(23px + 2vw); }
}
@media (max-width:1200px) {
	.col_s_02.col_4:not(.cnt_4) { --colw:30%; --coln:3; }
}
@media (max-width:940px) {
	.col_s_02.cnt_4 { --colw:47%; --coln:2; }
	.col_s_02 > li .tit_line:before { border-width:2px; }
}
@media screen and (max-width:767px) {
	#body .col_s_02 { --colw:47%; --coln:2; }
}
@media screen and (max-width:500px) {
	#body .col_s_02 { --colw:100%; }
}



/* 칼럼박스 심플 03 (all) */

.col_s_03 { row-gap:56px; }
.col_s_03.col_2 { --colw:47%; --coln:2; }
.col_s_03.col_3 { --colw:31%; --coln:3; }
.col_s_03 > li { display:flex; width:var(--colw); }
.col_s_03 > li .num { width:114px; font-size:80px; font-family:var(--roboto); color:rgba(0,0,0,.05); font-weight:700; transform:translateY(-4%); }.col_s_03 > li .con { width:calc(100% - 114px); }
.col_s_03 > li .tit { font-size:25px; }
.col_s_03 > li .tit_line { padding:15px 0 21px; border-color:var(--mc); }
.col_s_03 > li .tit_line:before { width:26px; border-top:2px solid; border-color:inherit; }
.in_e.b_d > .col_s_03 > li .num { color:rgba(255,255,255,.2); }
#body .in_e.b_d > .col_s_03 > li .tit_line { border-color:#fff; }

@media (max-width:1660px) {
	.col_s_03 { row-gap:calc(23px + 2vw); }
	.col_s_03 > li .num { width:calc(31px + 5vw); }
	.col_s_03 > li .con { width:calc(100% - 46px - 4vw); }
	.col_s_03 > li .tit_line:before { width:calc(16px + 0.6vw); }
}
@media (max-width:1100px) {
	.col_s_03 > li .num { transform:translateY(-2%); }
	.col_s_03.col_3 { --colw:47%; --coln:2; }
}
@media screen and (max-width:600px) {
	#body .col_s_03 { --colw:100%; }
}



/* 칼럼박스 심플 04 (all) */

.col_s_04 { display: flex; flex-wrap: wrap; row-gap:56px; }
.col_s_04.col_2 > li { width:50%; }
.col_s_04.col_3 > li { width:calc(100%/3); }
.col_s_04.col_4 > li { width:25%; }
.col_s_04 > li .tit_cir { width:200px; aspect-ratio:1/1; background-color:#fff; border:1px solid var(--mc); border-radius:50%; margin:0 auto; position:relative; }
.col_s_04 > li .tit_cir .tit { font-size:22px; color:var(--mc); padding:0 10%; text-align:center; position:relative; top:50%; transform:translateY(-50%); }
.col_s_04 > li .tit_cir .num_cir { position:absolute; width:40px; aspect-ratio:1/1; border-radius:50%; background-color:var(--mc); left:50%; bottom:0; transform:translate(-50%, 50%); display:flex; align-items:center; justify-content:center;}
.col_s_04 > li .tit_cir .num_cir span { font-family:var(--roboto); font-size:14px; color:#fff; padding-top:3px; }
.col_s_04 > li .con { padding:0 8%; text-align:center; }
.tit_cont .col_s_04 > li .tit_cir { width:180px; }
.tit_cont .col_s_04 > li .tit_cir .tit { font-size:20px; }
.in_e.b_d > .col_s_04 > li .tit_cir { background-color:rgba(255, 255, 255, .2); border:none; }
.in_e.b_d > .col_s_04 > li .tit_cir .tit { color:#fff; }

@media (max-width:1660px) {
	.col_s_04 { row-gap:calc(23px + 2vw); }
	.col_s_04 > li .tit_cir { width:calc(110px + 5vw); }
	.tit_cont .col_s_04 > li .tit_cir { width:calc(107px + 4.4vw); }
	.col_s_04 > li .tit_cir .num_cir { width:calc(30px + 0.6vw); }
}
@media (max-width:1200px) {
	.col_s_04.col_4:not(.cnt_4) > li { width:calc(100%/3); }
}
@media (max-width:940px) {
	.col_s_04.cnt_4 > li { width:50%; }
}
@media screen and (max-width:680px) {
	#body .col_s_04 > li { width:50%; }
}
@media screen and (max-width:500px) {
	.col_s_04 { justify-content:space-between; }
	#body .col_s_04 > li { width:47%; }
	.col_s_04 > li .con { padding:0; }
}



/* 칼럼박스 라인형 01 (all) */

.col_line_01 { display:flex; flex-wrap:wrap; --colg:70px; --rowg:56px; --colw:calc((100% - (var(--colg)*(var(--coln) - 1)))/var(--coln)); gap:var(--rowg) var(--colg); --b_color:rgba(0,0,0,.16); }
.col_line_01.col_2 { --coln:2; }
.col_line_01.col_3 { --coln:3; }
.col_line_01.col_4 { --coln:4; }
.col_line_01 > li { width:var(--colw); position:relative; }
.col_line_01 > li:before { display:block; content:''; position:absolute; height:100%; top:0; left:calc(var(--colg)/-2); border-left:1px solid var(--b_color); }
.col_line_01.col_2 > li:nth-of-type(2n + 1):before { display:none; }
.col_line_01.col_3 > li:nth-of-type(3n + 1):before { display:none; }
.col_line_01.col_4 > li:nth-of-type(4n + 1):before { display:none; }
.col_line_01 > li .stit { font-size:13px; line-height:1.3; font-family:var(--roboto); color:var(--mc); }
.col_line_01 > li h4 { font-size:25px; }
.in_e.b_d > .col_line_01 { --b_color:rgba(255, 255, 255, .5); }

@media (max-width:1660px) {
	.col_line_01 { --colg:calc(37px + 2vw); --rowg:calc(23px + 2vw); }
}
@media (max-width:1200px) {
	.col_line_01.col_4:not(.cnt_4) { --coln:3; }
	.col_line_01.col_4:not(.cnt_4) > li:nth-of-type(4n + 1):before { display:block; }
	.col_line_01.col_4:not(.cnt_4) > li:nth-of-type(3n + 1):before { display:none; }
}
@media (max-width:940px) {
	.col_line_01.cnt_4 { --coln:2; --colg:10vw; }
	.col_line_01.cnt_4 > li:nth-of-type(4n + 1):before { display:block; }
	.col_line_01.cnt_4 > li:nth-of-type(2n + 1):before { display:none; }
}
@media screen and (max-width:767px) {
	#body .col_line_01 { --coln:2; --colg:10vw; }
	.col_line_01.col_4:not(.cnt_4) > li:nth-of-type(3n + 1):before,
	.col_line_01.col_3 > li:nth-of-type(3n + 1):before { display:block; }
	.col_line_01 > li:nth-of-type(2n + 1):before { display:none !important; }
}
@media screen and (max-width:500px) {
	.col_line_01:not(.num_ani) { --colw:100%; --colg:0; --rowg:42px; }
	.col_line_01:not(.num_ani) > li:before { left:0; height:0; width:100%; top:calc(var(--rowg)/-2); border-left:0; border-top:1px solid var(--b_color); }
	.col_line_01:not(.num_ani) > li:nth-of-type(n+2):before { display:block !important; }
}


/* 칼럼박스 라인형 01 변형 (all) */

.col_line_01.design2 { justify-content:center; --colg:80px; }
.tit_cont dd .col_line_01.design2 { justify-content:flex-start; }
.col_line_01.design2 > li { text-align:center; }
.col_line_01.design2 > li:before { height:70%; top:15%; }
.col_line_01.design2 > li .num { font-size:78px; line-height:1; font-family:var(--roboto); color:rgba(0,0,0,.05); font-weight:700; text-align:center; }
.col_line_01.design2 > li .img_icon img { width:78px; }
.in_e.b_d > .col_line_01.design2 > li .num { color:rgba(255,255,255,.2); }

@media (max-width:1660px) {
	.col_line_01.design2 > li .img_icon img { width:calc(50px + 1.7vw); }
}
@media screen and (max-width:767px) {
	.col_line_01.design2 { justify-content:flex-start; }
}
@media screen and (max-width:500px) {
	.col_line_01.design2:not(.num_ani) > li:before { height:0; top:calc(var(--rowg)/-2); }
}


/* 칼럼박스 라인형 01 숫자 애니 변형 (all) */

.col_line_01.num_ani > li .number_ani > * { vertical-align:bottom; }
.col_line_01.num_ani > li .number_ani .number_wrap { display:inline-block; margin:0 4px;}
.col_line_01.num_ani > li .number_ani .number_cnt { font-size:60px; font-family:var(--roboto); font-weight:700; letter-spacing:-0.02em; color:var(--mc); }
.col_line_01.num_ani > li .number_ani .unit { display:inline-block; font-size:20px; font-weight:800; transform:translateY(-10%); }
.col_line_01.num_ani > li .tit { text-align:center; font-size:17px; font-weight:600; }
.in_e.b_d > .col_line_01.num_ani > li .number_ani .number_cnt { color:#fff; }

@media screen and (max-width:767px) {
	.col_line_01.num_ani > li .number_ani .number_wrap { margin:0 2px;}
	.col_line_01.num_ani > li .number_ani .unit { transform:translateY(0); }
}





/* 칼럼박스 박스형 공통 (all) */
.colbox.col_2 { --colw:49%; --coln:2; }
.colbox.col_3 { --colw:32%; --coln:3; }
.colbox.col_4 { --colw:24%; --coln:4; }
.colbox > li { width:var(--colw); }
.colbox.brd > li { border-radius:16px; }
@media (max-width:1250px) {
	.colbox.col_4:not(.cnt_4) { --colw:32%; --coln:3; }
}
@media (max-width:1000px) {
	.colbox.cnt_4 { --colw:49%; --coln:2; }
}
@media screen and (max-width:767px) {
	#body .colbox { --colw:49%; --coln:2; }
}
@media screen and (max-width:540px) {
	#body .colbox.cnt_3 { --colw:100%; --coln:1; row-gap:8px; }
}


/* 칼럼박스 심플 박스형 01 (all) */

.col_s_box01 > li .box { display:block; padding:calc(23px + 1.5%) calc(26px + 1.5%); }
.col_s_box01 > li .num { font-size:16px; font-family:var(--roboto); color:var(--mc); opacity:.4; }
.col_s_box01 > li .tit { font-size:24px; color:var(--mc); }
.col_s_box01.brd > li { border-radius:20px; }
.col_s_box01.bd > li { background-color:#fff; }

@media (max-width:1660px) {
	.col_s_box01 > li .box { padding:calc(14px + 1.5% + 0.5vw) calc(17px + 1.5% + 0.5vw); }
}
@media screen and (max-width:500px) {
	.col_s_box01 { row-gap:10px; }
	#body .col_s_box01 { --colw:100%; }
}






/* 칼럼박스 심플 박스형 02 (all) */

.col_s_box02.col_2 { --colw:49%; --coln:2; }
.tit_cont dd .col_s_box02.col_2 { --colw:48.5%; }
.col_s_box02.col_3 { --colw:32%; --coln:3; }
.col_s_box02 > li { width:var(--colw); border-radius:16px; }
.col_s_box02 > li .box { padding:calc(30px + 1.5%) calc(34px + 1.5%); }
.col_s_box02 > li .stit { font-size:14px; line-height:1.3; font-family:var(--roboto); color:var(--mc); }
.col_s_box02 > li h4 { font-size:25px; }
.col_s_box02 > li .tit_line { padding:17px 0 21px; border-color:var(--mc); }
.col_s_box02 > li .tit_line:before { width:26px; border-top:2px solid; border-color:inherit; }
#body .in_e.b_d > .col_s_box02 > li .tit_line { border-color:#fff; }

@media (max-width:1660px) {
	.col_s_box02 > li .box { padding:calc(14px + 1.5% + 1vw) calc(17px + 1.5% + 1vw); }
	.col_s_box02 > li .tit_line:before { width:calc(16px + 0.6vw); }
}
@media screen and (max-width:1023px) {
	.col_s_box02.col_2, .col_s_box02.col_3 { --colw:48.5%; --coln:2; }
}
@media screen and (max-width:640px) {
	#body .col_s_box02 { --colw:100%; }
	.col_s_box02 { row-gap:14px; }
}



/* 칼럼박스 심플 박스형 03 (all) */

.col_s_box03 > li { background-color:#fff; border:1px solid var(--mc); border-radius:16px; overflow:hidden; }
.col_s_box03 > li .tit_box { background-color:var(--mc); height:70px; padding:0 5%; }
.col_s_box03 > li .con { padding:18px 25px; }
.col_s_box03 > li .tit_box .tit { position:relative; top:50%; transform:translateY(-50%); font-size:21px; color:#fff; font-weight:600; text-align:center; }
.in_e.b_d > .col_s_box03 > li { border:none; }

@media (max-width:1660px) {
	.col_s_box03 > li .con { padding:calc(14px + 0.4vw) calc(19px + 0.4vw); }
	.col_s_box03 > li .tit_box { height:calc(40px + 1.7vw);  }
}
@media screen and (max-width:500px) {
	#body .col_s_box03 { --colw:100%; }
	.col_s_box03 { row-gap:14px; }
}


/* 칼럼박스 심플 박스형 04 (고객센터) */
.col_s_box04 { display: flex; flex-wrap: wrap; gap:40px; justify-content:space-between; }
.col_s_box04.cnt_1 { justify-content:center; }
.col_s_box04 > li { width:calc(50% - 20px); border-radius:20px; padding:calc(28px + 1.4%) calc(34px + 1.5%); }
.col_s_box04 > li .cont { font-size:17px; }

@media (max-width:1660px) {
	.col_s_box04 { gap:calc(8px + 2vw); }
	.col_s_box04 > li { width:calc(50% - 4px - 1vw); padding:calc(15px + 1.5% + 0.8vw) calc(20px + 1.5% + 0.8vw); }
	.col_s_box04 .titl li p:first-of-type { width:calc(87px + 2vw); }
}
@media screen and (max-width:767px) {
	.col_s_box04 > li { width:100%; }
}


/* 칼럼박스 심플 박스형 05 (100%, 45단) */
.col_s_box05 { --colw:19%; --coln:5; }
.col_s_box05.cnt_1, .col_s_box05.cnt_2, .col_s_box05.cnt_3, .col_s_box05.cnt_4, .col_s_box05.cnt_6 { --colw:24%; --coln:4; }
.col_s_box05.cnt_1, .col_s_box05.cnt_2, .col_s_box05.cnt_3 { justify-content: center; }

.col_s_box05 > li { width:var(--colw); padding:calc(15px + 1.5%) calc(12px + 1.3%); text-align:center; display:flex; align-items:center; justify-content:center; }
.col_s_box05.brd > li { border-radius:13px; }

.col_s_box05 > li h5 { font-size:18px; font-weight:600; color:#333; text-align:center; }
.col_s_box05 > li .cont { font-size:15.5px; }

@media (max-width:1023px) {
	.col_s_box05 { --colw:24%; --coln:4; }
}
@media screen and (max-width:840px) {
	#body .col_s_box05 { --colw:32%; --coln:3; }
}
@media screen and (max-width:560px) {
	#body .col_s_box05 { --colw:49%; --coln:2; justify-content:flex-start; }
}


/* 칼럼박스 심플 박스형 06 (3:7, 34단) */
.col_s_box06.col_3 { --colw:32%; --coln:3; }
.col_s_box06.col_4 { --colw:24%; --coln:4; }
.col_s_box06 > li { width:var(--colw); padding:calc(15px + 1.5%) calc(12px + 1.3%); text-align:center; display:flex; align-items:center; justify-content:center; }
.col_s_box06.brd > li { border-radius:13px; }

.col_s_box06 > li h5 { font-size:18px; font-weight:600; color:#333; }
.col_s_box06 > li h6 { font-weight:400; color:#444; }
.col_s_box06 > li .cont { font-size:15.5px; }

@media (max-width:1250px) {
	.col_s_box06.col_4:not(.cnt_4) { --colw:32%; --coln:3; }
}
@media (max-width:1000px) {
	.col_s_box06.cnt_4 { --colw:49%; --coln:2; }
}
@media screen and (max-width:767px) {
	#body .col_s_box06 { --colw:49%; --coln:2; }
}


/* 칼럼박스 심플 박스형 07 (all) */
.col_s_box07 > li { border-radius:16px; }
.col_s_box07 > li .box { display:block; padding:calc(26px + 1.5%); }
.col_s_box07 > li .num { font-size:14px; font-family:var(--roboto); color:var(--mc); opacity:.8; }
.col_s_box07 > li .cir, .col_s_box08 > li .cir { display:inline-block; width:30px; aspect-ratio:1/1; border-radius:50%; background-color:var(--mc); }
.col_s_box07 > li .cir .num, .col_s_box08 > li .cir .num { font-size:12.5px; font-family:var(--roboto); color:#fff; opacity:1; position:relative; top:50%; transform:translateY(-50%); }

.col_s_box07 > li .tit { font-size:18px; color:#333; font-weight:600; }
.in_e.b_d > .col_s_box07 > li .cir { background-color:rgba(255, 255, 255, .2); }

@media (max-width:1660px) {
	.col_s_box07 > li .box { padding:calc(17px + 1.5% + 0.5vw); }
	.col_s_box07 > li .cir, .col_s_box08 > li .cir { width:calc(23px + 0.4vw); }
}




/* 칼럼박스 심플 박스형 08 (all) */

.col_s_box08 > li .box { display:block; padding:calc(26px + 1.5%); text-align:center; }
.col_s_box08 > li .tit { font-size:22px; color:var(--mc); }
.col_s_box08 > li .div_line { border-color:var(--mc); }
.col_s_box08 > li .in_e.b_d > .div_line { border-color:rgba(255, 255, 255, .8); }

@media (max-width:1660px) {
	.col_s_box08 > li .box { padding:calc(17px + 1.5% + 0.5vw); }
}
@media screen and (max-width:500px) {
	.col_s_box08 { row-gap:15px; }
	#body .col_s_box08 { --colw:100%; }
}



/*** 5:5 레이아웃 ***/

.col55_01 > dt { width:calc(52% - 160px); }
.col55_01 > dd { width:calc(42% + 160px); }
.col55_01 .cont:not(.small .cont) { line-height:1.7; }

@media screen and (max-width:900px) {
	.col55_01 .cont, .col55_01 .cont:not(.small .cont) { line-height:1.6; }
}