
/*** 프로세스 구조 ***/


/* 프로세스 1단 cir 5개 */

.proc1_cir5 { display:flex; flex-wrap:wrap; --coln:5; --colg:calc((100% - (var(--colw)*var(--coln)))/(var(--coln) - 1)); margin-left:auto; margin-right:auto; max-width:100%; }
.proc1_cir5.cnt_1, .proc1_cir5.cnt_2, .proc1_cir5.cnt_3, .proc1_cir5.cnt_4 { justify-content:center; }
.proc1_cir5 li { width:calc(var(--colw) + var(--colg)); display:flex; }
.proc1_cir5 li .cir { position:relative; width:var(--colw); aspect-ratio:1/1; border-radius:50%; }
.proc1_cir5 li .arrow { width:calc(100% - var(--colw)); }
.proc1_cir5 li:last-of-type { width:var(--colw) !important; }
.proc1_cir5 li:last-of-type .arrow { display:none !important; }
.proc1_cir5 li:nth-of-type(5n) { width:var(--colw); }
.proc1_cir5 li:nth-of-type(5n) .arrow { display:none; }
.proc1_cir5.cnt_6 { --coln:3; }
.proc1_cir5.cnt_6 li:nth-of-type(5) { width:calc(var(--colw) + var(--colg)); }
.proc1_cir5.cnt_6 li:nth-of-type(5) .arrow { display:block; }
.proc1_cir5.cnt_6 li:nth-of-type(3) { width:var(--colw); }
.proc1_cir5.cnt_6 li:nth-of-type(3) .arrow { display:none; }

@media (max-width:1250px){
	.proc1_cir5 { --coln:4; }
	.proc1_cir5:not(.cnt_6) li:nth-of-type(4n) { width:var(--colw); }
	.proc1_cir5:not(.cnt_6) li:nth-of-type(4n) .arrow { display:none; }
	.proc1_cir5:not(.cnt_6) li:nth-of-type(5n) { width:calc(var(--colw) + var(--colg)); }
	.proc1_cir5:not(.cnt_6) li:nth-of-type(5n) .arrow { display:block; }
}
@media (max-width:940px){
	.proc1_cir5 { --coln:3; }
	.proc1_cir5:not(.cnt_6) li:nth-of-type(3n) { width:var(--colw); }
	.proc1_cir5:not(.cnt_6) li:nth-of-type(3n) .arrow { display:none; }
	.proc1_cir5:not(.cnt_6) li:nth-of-type(4n) { width:calc(var(--colw) + var(--colg)); }
	.proc1_cir5:not(.cnt_6) li:nth-of-type(4n) .arrow { display:block; }
	.proc1_cir5.cnt_4 { justify-content:flex-start; }
}
@media (max-width:660px){
	.proc1_cir5 li { width:100% !important; flex-wrap:wrap; }
	.proc1_cir5 li:last-of-type { width:100% !important; }
	.proc1_cir5:not(.cnt_6) li:nth-of-type(3n) .arrow,
	.proc1_cir5.cnt_6 li:nth-of-type(3) .arrow { display:block; }
	.proc1_cir5 li .cir { margin:0 auto; }
	.proc1_cir5 li .arrow { width:100%; }
}

/* 프로세스 2단 cir 4개 */

.proc2_cir4 { display:flex; flex-wrap:wrap; --coln:4; --colg:calc((100% - (var(--colw)*var(--coln)))/(var(--coln) - 1)); margin-left:auto; margin-right:auto; max-width:100%; }
.proc2_cir4 li { width:calc(var(--colw) + var(--colg)); display:flex; }
.proc2_cir4 li .cir { position:relative; width:var(--colw); aspect-ratio:1/1; background-color:var(--lc); border-radius:50%; }
.proc2_cir4 li .arrow { width:calc(100% - var(--colw)); }
.proc2_cir4 li:last-of-type { width:var(--colw) !important; }
.proc2_cir4 li:last-of-type .arrow { display:none !important; }
.proc2_cir4 li:nth-of-type(4n) { width:var(--colw); }
.proc2_cir4 li:nth-of-type(4n) .arrow { display:none; }

@media (max-width:1400px){
	.proc2_cir4 { --coln:3; }
	.proc2_cir4.cnt_2 { justify-content:center; }
	.proc2_cir4 li:nth-of-type(3n) { width:var(--colw); }
	.proc2_cir4 li:nth-of-type(3n) .arrow { display:none; }
	.proc2_cir4 li:nth-of-type(4n) { width:calc(var(--colw) + var(--colg)); }
	.proc2_cir4 li:nth-of-type(4n) .arrow { display:block; }
}
@media (max-width:660px){
	.proc2_cir4 li { width:100% !important; flex-wrap:wrap; }
	.proc2_cir4 li:last-of-type { width:100% !important; }
	.proc2_cir4 li:nth-of-type(3n) .arrow { display:block; }
	.proc2_cir4 li .cir { margin:0 auto; }
	.proc2_cir4 li .arrow { width:100%; }
}



/* 프로세스 1단 box 5개 */

.proc1_box5 { display:flex; flex-wrap:wrap; --coln:5; --colw:calc((100% - (var(--colg)*(var(--coln) - 1)))/var(--coln)); margin-left:auto; margin-right:auto; max-width:100%; }
.proc1_box5.cnt_1, .proc1_box5.cnt_2, .proc1_box5.cnt_3, .proc1_box5.cnt_4 { justify-content:center; }
.proc1_box5 li { width:calc(var(--colw) + var(--colg)); display:flex; }
.proc1_box5 li .box { position:relative; width:calc(100% - var(--colg)); height:100%; }
.proc1_box5 li .arrow { width:var(--colg); }
.proc1_box5 li:last-of-type { width:var(--colw); }
.proc1_box5 li:last-of-type .box { width:100%; }
.proc1_box5 li:last-of-type .arrow { display:none !important; }
.proc1_box5 li:nth-of-type(5n) { width:var(--colw); }
.proc1_box5 li:nth-of-type(5n) .box { width:100%; }
.proc1_box5 li:nth-of-type(5n) .arrow { display:none; }
.proc1_box5.cnt_6 { --coln:3; }
.proc1_box5.cnt_6 li:nth-of-type(5) { width:calc(var(--colw) + var(--colg)); }
.proc1_box5.cnt_6 li:nth-of-type(5) .box { width:calc(100% - var(--colg)); }
.proc1_box5.cnt_6 li:nth-of-type(5) .arrow { display:block; }
.proc1_box5.cnt_6 li:nth-of-type(3) { width:var(--colw); }
.proc1_box5.cnt_6 li:nth-of-type(3) .box { width:100%; }
.proc1_box5.cnt_6 li:nth-of-type(3) .arrow { display:none; }

@media (max-width:1250px){
	.proc1_box5 { --coln:4; }
	.proc1_box5:not(.cnt_6) li:nth-of-type(4n) { width:var(--colw); }
	.proc1_box5:not(.cnt_6) li:nth-of-type(4n) .box { width:100%; }
	.proc1_box5:not(.cnt_6) li:nth-of-type(4n) .arrow { display:none; }
	.proc1_box5:not(.cnt_6) li:nth-of-type(5n) { width:calc(var(--colw) + var(--colg)); }
	.proc1_box5:not(.cnt_6) li:nth-of-type(5n) .box { width:calc(100% - var(--colg)); }
	.proc1_box5:not(.cnt_6) li:nth-of-type(5n) .arrow { display:block; }
}
@media (max-width:940px){
	.proc1_box5 { --coln:3; }
	.proc1_box5:not(.cnt_6) li:nth-of-type(3n) { width:var(--colw); }
	.proc1_box5:not(.cnt_6) li:nth-of-type(3n) .box { width:100%; }
	.proc1_box5:not(.cnt_6) li:nth-of-type(3n) .arrow { display:none; }
	.proc1_box5:not(.cnt_6) li:nth-of-type(4n) { width:calc(var(--colw) + var(--colg)); }
	.proc1_box5:not(.cnt_6) li:nth-of-type(4n) .box { width:calc(100% - var(--colg)); }
	.proc1_box5:not(.cnt_6) li:nth-of-type(4n) .arrow { display:block; }
	.proc1_box5.cnt_4 { justify-content:flex-start; }
}
@media (max-width:660px){
	.proc1_box5 li { width:100% !important; flex-wrap:wrap; }
	.proc1_box5 li .box { width:100% !important; height:auto; }
	.proc1_box5 li:last-of-type { width:100% !important; }
	.proc1_box5 li .arrow { width:100%; }
	.proc1_box5:not(.cnt_6) li:nth-of-type(3n) .arrow,
	.proc1_box5.cnt_6 li:nth-of-type(3) .arrow { display:block; }
}


/* 프로세스 2단 박스 4개 */

.proc2_box4 { display:flex; flex-wrap:wrap; --coln:4; --colw:calc((100% - (var(--colg)*(var(--coln) - 1)))/var(--coln));   margin-left:auto; margin-right:auto; max-width:100%; }
.proc2_box4 li { width:calc(var(--colw) + var(--colg)); display:flex; }
.proc2_box4 li .box { position:relative; width:calc(100% - var(--colg)); height:100%; }
.proc2_box4 li .arrow { width:var(--colg); }
.proc2_box4 li:last-of-type { width:var(--colw) !important; }
.proc2_box4 li:last-of-type .box { width:100% !important; }
.proc2_box4 li:last-of-type .arrow { display:none !important; }
.proc2_box4 li:nth-of-type(4n) { width:var(--colw); }
.proc2_box4 li:nth-of-type(4n) .box { width:100%; }
.proc2_box4 li:nth-of-type(4n) .arrow { display:none; }
.proc2_box4.cnt_5 { --coln:3; }
.proc2_box4.cnt_5 li:nth-of-type(4) { width:calc(var(--colw) + var(--colg)); }
.proc2_box4.cnt_5 li:nth-of-type(4) .box { width:calc(100% - var(--colg)); }
.proc2_box4.cnt_5 li:nth-of-type(4) .arrow { display:block; }
.proc2_box4.cnt_5 li:nth-of-type(3) { width:var(--colw); }
.proc2_box4.cnt_5 li:nth-of-type(3) .box { width:100%; }
.proc2_box4.cnt_5 li:nth-of-type(3) .arrow { display:none; }

@media (max-width:1200px){
	.proc2_box4 { --coln:3; }
	.proc2_box4 li:nth-of-type(3n) { width:var(--colw); }
	.proc2_box4 li:nth-of-type(3n) .box { width:100%; }
	.proc2_box4 li:nth-of-type(3n) .arrow { display:none; }
	.proc2_box4 li:nth-of-type(4n) { width:calc(var(--colw) + var(--colg)); }
	.proc2_box4 li:nth-of-type(4n) .box { width:calc(100% - var(--colg)); }
	.proc2_box4 li:nth-of-type(4n) .arrow { display:block; }
}
@media (max-width:660px){
	.proc2_box4 li { width:100% !important; flex-wrap:wrap; }
	.proc2_box4 li .box { width:100% !important; height:auto; }
	.proc2_box4 li:last-of-type { width:100% !important; }
	.proc2_box4 li:nth-of-type(3n) .arrow,
	.proc2_box4.cnt_5 li:nth-of-type(3) .arrow { display:block; }
	.proc2_box4 li .arrow { width:100%; }
}



/* 프로세스 1단 box 4개 */

.proc1_box4 { display:flex; flex-wrap:wrap; --coln:4; --colw:calc((100% - (var(--colg)*(var(--coln) - 1)))/var(--coln));   margin-left:auto; margin-right:auto; max-width:100%; }
.proc1_box4.cnt_1, .proc1_box4.cnt_2, .proc1_box4.cnt_3 { justify-content:center; }
.proc1_box4 > li { width:calc(var(--colw) + var(--colg)); display:flex; }
.proc1_box4 > li .box { position:relative; width:calc(100% - var(--colg)); height:100%; }
.proc1_box4 > li .arrow { width:var(--colg); }
.proc1_box4 > li:last-of-type { width:var(--colw) !important; }
.proc1_box4 > li:last-of-type .box { width:100% !important; }
.proc1_box4 > li:last-of-type .arrow { display:none !important; }
.proc1_box4 > li:nth-of-type(4n) { width:var(--colw); }
.proc1_box4 > li:nth-of-type(4n) .box { width:100%; }
.proc1_box4 > li:nth-of-type(4n) .arrow { display:none; }
.proc1_box4.cnt_5 { --coln:3; }
.proc1_box4.cnt_5 > li:nth-of-type(4) { width:calc(var(--colw) + var(--colg)); }
.proc1_box4.cnt_5 > li:nth-of-type(4) .box { width:calc(100% - var(--colg)); }
.proc1_box4.cnt_5 > li:nth-of-type(4) .arrow { display:block; }
.proc1_box4.cnt_5 > li:nth-of-type(3) { width:var(--colw); }
.proc1_box4.cnt_5 > li:nth-of-type(3) .box { width:100%; }
.proc1_box4.cnt_5 > li:nth-of-type(3) .arrow { display:none; }

@media (max-width:1200px){
	.proc1_box4 { --coln:3; }
	.proc1_box4 > li:nth-of-type(3n) { width:var(--colw); }
	.proc1_box4 > li:nth-of-type(3n) .box { width:100%; }
	.proc1_box4 > li:nth-of-type(3n) .arrow { display:none; }
	.proc1_box4 > li:nth-of-type(4n) { width:calc(var(--colw) + var(--colg)); }
	.proc1_box4 > li:nth-of-type(4n) .box { width:calc(100% - var(--colg)); }
	.proc1_box4 > li:nth-of-type(4n) .arrow { display:block; }
}
@media (max-width:700px){
	.proc1_box4 > li { width:100% !important; flex-wrap:wrap; }
	.proc1_box4 > li .box { width:100% !important; height:auto; }
	.proc1_box4 > li:last-of-type { width:100% !important; }
	.proc1_box4 > li:nth-of-type(3n) .arrow,
	.proc1_box4.cnt_5 > li:nth-of-type(3) .arrow { display:block; }
	.proc1_box4 > li .arrow { width:100%; }
}


/* 프로세스 2단 박스 3개 */

.proc2_box3 { display:flex; flex-wrap:wrap; --coln:3; --colw:calc((100% - (var(--colg)*(var(--coln) - 1)))/var(--coln));   margin-left:auto; margin-right:auto; max-width:100%; }
.proc2_box3 > li { width:calc(var(--colw) + var(--colg)); display:flex; }
.proc2_box3 > li .box { position:relative; width:calc(100% - var(--colg)); height:100%; }
.proc2_box3 > li .arrow { width:var(--colg); }
.proc2_box3 > li:last-of-type { width:var(--colw) !important; }
.proc2_box3 > li:last-of-type .box { width:100% !important; }
.proc2_box3 > li:last-of-type .arrow { display:none !important; }
.proc2_box3 > li:nth-of-type(3n) { width:var(--colw); }
.proc2_box3 > li:nth-of-type(3n) .box { width:100%; }
.proc2_box3 > li:nth-of-type(3n) .arrow { display:none; }

@media (max-width:700px){
	.proc2_box3 > li { width:100% !important; flex-wrap:wrap; }
	.proc2_box3 > li .box { width:100% !important; height:auto; }
	.proc2_box3 > li:last-of-type { width:100% !important; }
	.proc2_box3 > li:nth-of-type(3n) .arrow { display:block; }
	.proc2_box3 > li .arrow { width:100%; }
}



/*** 프로세스 디자인 ***/

/* 프로세스 심플 01 (all) */

.proc_s_01 { --colw:200px; row-gap:30px; }
.proc_s_01 li { margin-top:18px; }
.proc_s_01 li .cir { padding:30px; }
.proc_s_01 li .cir .tit { font-size:18px; font-weight:500; line-height:1.5; text-align:center; position:relative; top:50%; transform:translateY(-50%); }
.proc_s_01 li .cir .num_cir { position:absolute; width:37px; aspect-ratio:1/1; border-radius:50%; background-color:var(--mc); left:50%; top:0; transform:translate(-50%, -50%); display:flex; align-items:center; justify-content:center;}
.proc_s_01 li .cir .num_cir span { font-family:var(--roboto); font-size:12px; color:#fff; }
.proc_s_01 li .arrow { text-align:center; }
.proc_s_01 li .arrow span { position:relative; top:50%; transform:translateY(-50%); font-size:28px; color:var(--mc); }
.proc1_cir5.proc_s_01.cnt_6 { width:800px; }
.tit_cont .proc_s_01.cnt_6 { width:100%; }
.in_e.b_d > .proc_s_01 li .arrow span { color:#fff; }

@media (max-width:1660px){
	.proc_s_01 { --colw:calc(150px + 3vw); row-gap:calc(13px + 1vw); }
	.proc_s_01 li { margin-top:calc(13px + 0.3vw); }
	.proc_s_01 li .cir .num_cir { width:calc(26px + 0.6vw); }
}
@media (max-width:660px){
	.proc_s_01 { row-gap:0; }
	.proc_s_01 li .arrow { padding:10px 0; }
	.proc_s_01 li .arrow span { top:0; transform:rotate(90deg); }
}


/* 프로세스 심플 02 (all) */

.proc_s_02 { --colg:60px; row-gap:30px; }
.tit_cont .proc_s_02 { --colg:50px; }
.proc_s_02 li .box { padding:30px; border-radius:13px; }
.proc_s_02 li .box .tit { font-size:18px; font-weight:500; line-height:1.4; text-align:center; }
.proc_s_02 li .box .step { font-family:var(--roboto); font-size:12px; color:var(--mc); opacity:.6; text-align:center; }
.proc_s_02 li .arrow { text-align:center; }
.proc_s_02 li .arrow span { position:relative; top:50%; transform:translateY(-50%); font-size:28px; color:var(--mc);  }
#body .proc_s_02 li:last-of-type .box { background-color:var(--mc); }
.proc_s_02 li:last-of-type .box * { color:#fff; }
.proc1_box5.proc_s_02.cnt_6 { width:800px; }
.tit_cont .proc_s_02.cnt_6 { width:100%; }

.in_e.b_d > .proc_s_02 li .box .step,
.in_e.b_d > .proc_s_02 li .arrow span { color:#fff; }

@media (max-width:1660px){
	.proc_s_02 { --colg:calc(18px + 2.5vw); row-gap:calc(13px + 1vw); }
	.tit_cont .proc_s_02 { --colg:calc(16px + 2vw); }
	.proc_s_02 li .box { padding:calc(20px + 0.5vw); }
}
@media (max-width:660px){
	.proc_s_02 { row-gap:0; }
	.proc_s_02 li .box .tit br { display:none; }
	.proc_s_02 li .arrow { padding:5px 0; }
	.proc_s_02 li .arrow span { top:0; transform:rotate(90deg); }
}


/* 프로세스 심플 03 (all) */

.proc_s_03 { --colg:60px; row-gap:44px; }
.proc_s_03 > li .box { padding:calc(20px + 4%); border-radius:16px; }
.proc_s_03 > li .box h4 { font-size:22px; }
.proc_s_03 > li .box .step { font-family:var(--roboto); font-size:12px; color:var(--mc); opacity:.6; }
.proc_s_03 > li .arrow { text-align:center; }
.proc_s_03 > li .arrow span { position:relative; top:50%; transform:translateY(-50%); font-size:28px; color:var(--mc);  }
.in_e.b_d > .proc_s_03 > li .arrow span { color:#fff; }

@media (max-width:1660px){
	.proc_s_03 { --colg:calc(18px + 2.5vw); row-gap:calc(17px + 1.5vw); }
	.proc_s_03 > li .box { padding:calc(16px + 1% + 0.8vw); }
}
@media (max-width:700px){
	.proc_s_03 { row-gap:0; }
	.proc_s_03 > li .arrow { padding:5px 0; }
	.proc_s_03 > li .arrow span { top:0; transform:rotate(90deg); }
}



/* 프로세스 심플 04 (all) */

.proc_s_04 > li .box { padding:calc(20px + 1.2%); display:flex; flex-wrap:wrap; align-items:center; justify-content:space-between; border-radius:1000px; }
.proc_s_04 > li .arrow { padding:calc(4px + 0.4%) 0; text-align:center; font-size:26px; color:var(--mc); opacity:.8; }
.proc_s_04 > li:last-of-type .arrow { display:none; }
.proc_s_04 > li .box .step { width:calc(60px + 3%); padding:10px 0;  background-color:var(--mc); color:#fff; font-size:12px; text-align:center; border-radius:100px; }
.proc_s_04 > li .box .tit { width:calc(80px + 10%); font-size:21px; font-weight:700; line-height:1.3; }
.proc_s_04 > li .box .cont { width:calc(82% - 140px); font-size:17px; line-height:1.6; }
.in_e.b_d > .proc_s_04 > li .arrow span { color:#fff; }
.in_e.b_d > .proc_s_04 > li .box .cont { color:rgba(255,255,255,.8); }

@media (max-width:1660px){
	.proc_s_04 > li .box .step { padding:calc(6px + 0.3vw); }
}
@media (max-width:640px){
	.proc_s_04 > li .box { justify-content:center; border-radius:12px; }
	.proc_s_04 > li .box .tit, .proc_s_04 > li .box .cont { width:100%; margin-top:10px; text-align:center; }
	.proc_s_04 > li .box .tit { margin-top:16px; }
}



/* 프로세스 아이콘 01 (all) */

.proc_i_01 { --colw:180px; row-gap:50px; }
.proc_i_01 li .cir img { width:78px; position:absolute; left:50%; top:50%; transform: translate(-50%, -50%); }
.proc_i_01 li .con .tit { font-size:19px; font-weight:600; text-align:center; }
.proc_i_01 li .arrow { height:var(--colw); text-align:center; }
.proc_i_01 li .arrow span { position:relative; top:50%; transform:translateY(-50%); font-size:28px; color:var(--mc); }
.proc1_cir5.proc_i_01.cnt_6 { width:800px; }
.in_e.b_d > .proc_i_01 li .arrow span { color:#fff; }

@media (max-width:1660px){
	.proc_i_01 { --colw:calc(156px + 1.5vw); row-gap:calc(30px + 1.2vw); }
	.proc_i_01 li .cir img { width:calc(61px + 1vw); }
}
@media (max-width:660px){
	.proc_i_01 { row-gap:0; }
	.proc_i_01 li .con { width:100%; }
	.proc_i_01 li .arrow { padding:10px 0; height:auto; }
	.proc_i_01 li .arrow span { top:0; transform:rotate(90deg); }
}


/* 프로세스 아이콘 02 (all) */

.proc_i_02 { --colg:60px; row-gap:44px; }
.proc_i_02 > li .box { padding:calc(20px + 4%); border-radius:16px; height:100%; }
.proc_i_02 > li .box .in_e { position:relative; padding-bottom:70px; height:100%; }
.proc_i_02 > li .box h4 { font-size:22px; }
.proc_i_02 > li .box .step { font-family:var(--roboto); font-size:12px; color:var(--mc); opacity:.6; }
.proc_i_02 > li .box .sicon { font-size:34px; color:var(--mc); position:absolute; right:0; bottom:0; }
.proc_i_02 > li .arrow { text-align:center; }
.proc_i_02 > li .arrow span { position:relative; top:50%; transform:translateY(-50%); font-size:28px; color:var(--mc);  }
.in_e.b_d > .proc_i_02 > li .arrow span { color:#fff; }

@media (max-width:1660px){
	.proc_i_02 { --colg:calc(18px + 2.5vw); row-gap:calc(17px + 1.5vw); }
	.proc_i_02 > li .box { padding:calc(16px + 1% + 0.8vw); }
	.proc_i_02 > li .box .in_e { padding-bottom:calc(40px + 1.8vw); }
}
@media (max-width:700px){
	.proc_i_02 { row-gap:0; }
	.proc_i_02 > li .arrow { padding:5px 0; }
	.proc_i_02 > li .arrow span { top:0; transform:rotate(90deg); }
}


/* 프로세스 아이콘 03 (all) */

.proc_i_03 { --colg:60px; row-gap:44px; }
.proc_i_03 > li .box { padding:calc(20px + 4%); border-radius:16px; }
.proc_i_03 > li .box { text-align:center; }
.proc_i_03 > li .img_icon { padding:2% 0 7%; }
.proc_i_03 > li .img_icon img { width:76px; }
.proc_i_03 > li .box h4 { font-size:22px; }
.proc_i_03 > li .box .step { font-family:var(--roboto); font-size:12px; color:var(--mc); opacity:.6; text-align:center; line-height: 1.3; }
.proc_i_03 > li .arrow { text-align:center; }
.proc_i_03 > li .arrow span { position:relative; top:50%; transform:translateY(-50%); font-size:28px; color:var(--mc);  }
.in_e.b_d > .proc_i_03 > li .arrow span { color:#fff; }

/* 플러스 디자인 */
.proc_i_03.add { justify-content:center;}
.proc_i_03.add > li .arrow span { font-size:36px; font-weight:600; }
.proc_i_03.add > li .box .step { font-size:14px; }

@media (max-width:1660px){
	.proc_i_03 { --colg:calc(28px + 2vw); row-gap:calc(17px + 1.5vw); }
	.proc_i_03 > li .box { padding:calc(16px + 1% + 0.8vw); }
	.proc_i_03 > li .img_icon { padding:calc(5px + 1%) 0 calc(10px + 3%); }
	.proc_i_03 > li .img_icon img { width:calc(58px + 1vw); }
}
@media (max-width:700px){
	.proc_i_03 { row-gap:0; }
	.proc_i_03 > li .arrow { padding:5px 0; }
	.proc_i_03 > li .arrow span { top:0; transform:rotate(90deg); }
}


/* 프로세스 포토 01 (all) */

.proc_p_01 { --colg:50px; row-gap:var(--colg); }
.proc_p_01 > li .box { position:relative; }
.proc_p_01 > li .box .bg { aspect-ratio:1/.9; }
.proc_p_01 > li .box .con { position:absolute; width:100%; left:0; top:0; padding:5% 0; background-color:rgba(0,0,0,.8); }
.proc_p_01 > li .box .tit { font-size:19px; font-weight:500; line-height:1.3; color:#fff; text-align:center; }
.proc_p_01 > li .box .step { font-family:var(--roboto); font-size:12px; line-height:1.5; color:#fff; opacity:.6; text-align:center; margin-bottom:2px; }
.proc_p_01 > li .arrow { text-align:center; }
.proc_p_01 > li .arrow span { position:relative; top:50%; transform:translateY(-50%); font-size:28px; color:#333; }
.in_e.b_d > .proc_p_01 > li .arrow span { color:#fff; }

@media (max-width:1660px){
	.proc_p_01 { --colg:calc(16px + 2vw); }
	.proc_p_01 > li .box .con { padding:calc(4% + 0.3vw) 0; }
}
@media (max-width:700px){
	.proc_p_01 { width:420px; row-gap:0; }
	.proc_p_01 > li .arrow { padding:8px 0; }
	.proc_p_01 > li .arrow span { top:0; transform:rotate(90deg); }
}

/* 프로세스 포토 02 (all) */

.proc_p_02 { --colg:50px; row-gap:var(--colg); }
.proc_p_02 > li .box { background-color:var(--mc); }
.proc_p_02 > li .box .bg { aspect-ratio:1/.65; }
.proc_p_02 > li .box .con { padding:calc(10px + 5%) calc(14px + 5%); }
.proc_p_02 > li .box h4 { font-size:21px; font-weight:600; }
.proc_p_02 > li .box .cont { font-size:16px; }
.proc_p_02 > li .arrow { text-align:center; }
.proc_p_02 > li .arrow span { position:relative; top:50%; transform:translateY(-50%); font-size:32px; font-weight:300; color:var(--mc); }
.in_e.b_d > .proc_p_02 > li .arrow span { color:#fff; }

@media (max-width:1660px){
	.proc_p_02 { --colg:calc(16px + 2vw); }
	.proc_p_02 > li .box .con { padding:calc(10px + 2% + 0.7vw) calc(13px + 2% + 0.7vw); }
}
@media (max-width:700px){
	.proc_p_02 { width:420px; row-gap:0; }
	.proc_p_02 > li .arrow { padding:8px 0; }
	.proc_p_02 > li .arrow span { top:0; transform:rotate(90deg); }
}